*,
*:before,
*:after {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    color: #444;
    background: #f9f9f9;
    font-size: 16px;
    font-family: "Nunito", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

section {
    position: relative;
    width: 100%;
}

span.all-title {
    font-family: 'Dancing Script', cursive;
    color: #25c583;
    font-size: 49px;
}

span.signature {
    font-family: 'Dancing Script', cursive;
    color: #25c583;
    font-size: 49px;
}
/*#### HEADER STYLES ####*/
#main-header {
    position: fixed;
    max-height: 70px;
    width: 100%;
    padding: 20px 0 10px 0;
    z-index: 900;
    background: #fff;
    border-bottom: 1px #25c583 solid;
    overflow: hidden;
}

.open-nav {
    max-height: 400px !important;
}
.open-nav .mobile-toggle {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.logo {
    float: left;
    display: block;
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 1;
    font-size: 20px;
    font-weight: bold;
    color: #25c583;
}

#main-header nav {
    width: 80%;
    float: right;
}

#main-header nav ul {
    float: right;
    overflow: hidden;
    list-style: none;
    text-align: right;
}

#main-header nav ul li {
    display: inline-block;
    margin-left: 20px;
    line-height: 1.5;
}

#main-header nav ul a {
    color: #454545;
    text-transform: uppercase;
    font-size: 14px;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
#main-header nav ul .active {
    color: #25c583;
    font-weight: bold;
}
#main-header nav ul a:hover {
    color: #25c583;
}

.mobile-toggle {
    display: none;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 22px;
    top: 0;
    width: 30px;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

.mobile-toggle span {
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
    border-radius: 1000px;
    background: #454545;
    display: block;
}

.header-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 0 25px;
}

/*#### HERO STYLES ####*/
#hero2 {
    background-attachment: fixed;
    height: 100%;
    position: relative;
}
#particles-js {
    width: 100%;
    height: 100%;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.hero-content h1 {
    font-size: 50px;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 10px;
}
.hero-content h2 {
    font-size: 30px;
    color: #bfbfbf;
}
.hero-content .download {
    color: #bfbfbf;
    background: none;
    border: 1px #25c583 solid;
    border-radius: 1000px;
    padding: 10px;
    -webkit-transition: border-color 0.3s ease;
    -o-transition: border-color 0.3s ease;
    transition: border-color 0.3s ease;
    cursor: pointer;
}
.hero-content .download a {
    color: #bfbfbf;
    font-size: 16px;
}
.hero-content .download:hover {
    border-color: #bfbfbf;
}

.hero-content img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px #25c583 solid;
}

/*##### HERO SECTION #####*/
.hero {
    height: 100%;
    background-image: url("assets/hero.jpg");
    background-size: cover;
    background-position: center;
}
.hero .content {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}
.hero .content .header {
    position: absolute;
    top: 55%;
    width: 100%;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    text-align: center;
    opacity: 0;
}
.hero .content .header h1 {
    color: #fff;
    font-size: 2.5em;
    text-shadow: 0px 2px 3px #2d2d2d;
}

.content .header h2 {
    color: #c6c6c6;
}

.ma-photo {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #25c583;
    width: 300px;
    height: 300px;
    opacity: 0.7;
    margin-bottom: 2%;
}

/*##### ABOUT MYSELF SECTION #####*/
.about-myself {
    padding: 50px 20px;
}
.about-myself .content {
    text-align: center;
}
.about-myself .content h2 {
    color: #3d3d3d;
    font-size: 2.5em;
    margin-bottom: 20px;
    -webkit-transform: translateY(-50px) scale(0);
    transform: translateY(-50px) scale(0);
    -webkit-transition: transform 0.7s;
    -moz-transition: transform 0.7s;
    transition: transform 0.7s;
}
.about-myself .content .aboutTitleVisible {
    -webkit-transform: translateY(0px) scale(1);
    transform: translateX(0px) scale(1);
}
.about-myself .content p span {
    color: #25c583;
    font-weight: bold;
}

/*##### EXPERIENCE SECTION #####*/
.experience {
    background: rgba(0, 0, 0, 0.3);
    padding: 50px 0;
    overflow-x: hidden;
}
.experience .content {
    text-align: center;
}
.experience .content h1 {
    font-size: 2em;
    color: #fff;
}
.experience .content ul {
    padding: 50px 0;
    list-style-type: none;
}
.experience .content ul li {
    background: #f5f5f5;
    position: relative;
    margin-left: 20px;
    width: 5px;
    padding-bottom: 40px;
}
.experience .content ul li:last-child {
    padding-bottom: 7px;
}
.experience .content ul li:before {
    content: "";
    background: #25c583;
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    border: 4px solid #f5f5f5;
}
.experience .content ul li .hidden {
    opacity: 0;
    margin-left: 10vw;
}
.experience .content ul li .experience-content {
    background: #f5f5f5;
    position: relative;
    top: 7px;
    left: 48px;
    width: calc(100vw - 100px);
    padding: 20px;
    text-align: center;
    -webkit-border-radius: 0 5px 5px;
    -moz-border-radius: 0 5px 5px;
    border-radius: 0 5px 5px;
}
.experience .content ul li .experience-content h2 {
    font-size: 1.5em;
    color: #3c3c3c;
    padding-bottom: 10px;
}
.experience .content ul li .experience-content .experience-time {
    color: #777;
    font-size: 1.1em;
    padding-bottom: 10px;
}
.experience .content ul li .experience-content p {
    color: #1a1a1a;
    font-size: 0.95em;
}
.experience .content ul li .experience-content:before {
    content: "";
    background: #f5f5f5;
    position: absolute;
    top: 0;
    left: -35px;
    width: 35px;
    height: 5px;
}

/*##### SKILLS SECTION #####*/
.skills {
    padding: 70px 20px;
}
.skills .content .development-wrapper .development-title {
    color: #3c3c3c;
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}
.skills .content .development-wrapper .skills-bar-container {
    position: relative;
    width: 100%;
    list-style-type: none;
}
.skills .content .development-wrapper .skills-bar-container li {
    width: 100%;
    margin-bottom: 20px;
}
.skills .content .development-wrapper .skills-bar-container li .progressbar-title {
    color: #3c3c3c;
    margin-bottom: 5px;
}
.skills .content .development-wrapper .skills-bar-container li .progressbar-title h3 {
    display: inline-block;
}
.skills .content .development-wrapper .skills-bar-container li .progressbar-title .percent {
    position: absolute;
    right: 20px;
    font-size: 1.1em;
}
.skills .content .development-wrapper .skills-bar-container li .bar-container {
    background: #ececec;
    position: relative;
    width: 100%;
    height: 10px;
}
.skills .content .development-wrapper .skills-bar-container li .bar-container .progressbar {
    background: #25c583;
    position: absolute;
    width: 0%;
    height: 100%;
}
.skills .content .tools-knowledge-wrapper {
    width: 100%;
}
.skills .content .tools-knowledge-wrapper .tools-wrapper,
.skills .content .tools-knowledge-wrapper .knowledge-wrapper {
    position: relative;
    padding: 20px 0;
    widht: 100%;
    text-align: center;
}
.skills .content .tools-knowledge-wrapper .tools-wrapper .title,
.skills .content .tools-knowledge-wrapper .knowledge-wrapper .title {
    color: #3c3c3c;
    font-size: 2em;
    margin-bottom: 10px;
}
.skills .content .tools-knowledge-wrapper .tools-wrapper ul,
.skills .content .tools-knowledge-wrapper .knowledge-wrapper ul {
    list-style-type: none;
    margin-left: 40px;
}
.skills .content .tools-knowledge-wrapper .tools-wrapper ul li,
.skills .content .tools-knowledge-wrapper .knowledge-wrapper ul li {
    color: #444;
    font-weight: bold;
    font-size: 1.1em;
    text-align: left;
}
.skills .content .tools-knowledge-wrapper .tools-wrapper ul li i,
.skills .content .tools-knowledge-wrapper .knowledge-wrapper ul li i {
    color: #27ae60;
}
.title {
    text-align: left;
}

/*##### RESUME SECTION #####*/
.resume2 .content {
    padding: 50px 0 0 0;
    text-align: center;
}

.resume .content {
    background: rgba(0, 0, 0, 0.3);
    padding: 50px 0;
    text-align: center;
}

.resume .content a {
    color: #fff;
    text-transform: uppercase;
}
.resume .content a .btn-resume {
    display: inline-block;
    font-size: 1.1em;
    padding: 20px;
    margin: 0 15px;
    background: rgba(255, 255, 255, 0.2);
    position: relative;
    border: 2px solid #fff;
    border-radius: 5px;
    overflow: hidden;
}
.resume .content a .btn-resume span {
    -webkit-transition: opacity 1.2s;
    -moz-transition: opacity 1.2s;
    transition: opacity 1.2s;
}
.resume .content a .btn-resume i {
    color: #fff;
    position: absolute;
    padding: 20px 0;
    top: -80px;
    width: 100%;
    left: 0;
    -webkit-transition: top 0.5s;
    -moz-transition: top 0.5s;
    transition: top 0.5s;
}

.resume .content a .btn-resume:hover i {
    top: 0;
}

/* EFFECT SWEEP LEFT BUTTON ! */
.hvr-effect {
    display:inline-block;
    vertical-align:middle;
    -webkit-transform:translatez(0);
    transform:translatez(0);
    box-shadow:0 0 1px rgba(0,0,0,0);
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    -moz-osx-font-smoothing:grayscale;
    position:relative;
    -webkit-transition-property:color;
    transition-property:color;
    -webkit-transition-duration:0.3s;
    transition-duration:0.3s;
    background-color: rgba(255, 255, 255, 0.17);
    padding:20px 20px 20px 20px !important;
    text-decoration: none;
    color: #000000 !important;
    font-size: 16px !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 5px !important;
    border: solid 1px #25c583 !important;
}

.hvr-effect:before {
    content: "";
    position:absolute;
    z-index:-1;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: #25c583;
    -webkit-transform:scalex(0);
    transform:scalex(0);
    -webkit-transform-origin:0 50%;
    transform-origin:0 50%;
    -webkit-transition-property:transform;
    transition-property:transform;
    -webkit-transition-duration:0.3s;
    transition-duration:0.3s;
    -webkit-transition-timing-function:ease-out;
    transition-timing-function:ease-out;
}

.hvr-effect:hover:before,
.hvr-effect:focus:before,
.hvr-effect:active:before {
    -webkit-transform: scalex(1);
    transform:scalex(1);
}
.hvr-effect:hover,
.hvr-effect:focus,
.hvr-effect:active {
    color: white !important;
}

/*!*##### PORTFOLIO SECTION #####*!

.portfolio {
    background: #f9f9f9;
    padding: 80px 0;
}
.portfolio .content {
    text-align: center;
}
.portfolio .content h1 {
    color: #3c3c3c;
    font-size: 2em;
    margin-bottom: 50px;
}
.portfolio .content .projects {
    width: 100%;
}
.portfolio .content .projects .project {
    color: #fff;
    position: relative;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    overflow: hidden;
}
.portfolio .content .projects .project:last-child {
    margin-bottom: 0;
}
.portfolio .content .projects .project .project-image img {
    width: 100%;
}
.portfolio .content .projects .project .project-title {
    color: #3c3c3c;
    padding: 10px 0;
}
.portfolio .content .projects .project .project-description {
    color: #444;
}*/
.container {
    width: 950px;
    margin: 50px auto 0px auto;
    text-align: center;
    /*height: 700px;*/
}

.project-ul {
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
}

.projects-head {
    color: #3c3c3c;
    font-size: 2em;
    text-align: center;
    padding: 70px 0;
}

h1 {
    margin: 0;
    font-weight: 400;
    font-size: 35px;
}
h1 span {
    font-weight: bold;
    color: #7A306C;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 30px auto 0;
}
.link a {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
    font-size: 17px;
    color: #1f1f1f;
    text-decoration: none;
}
.link a:last-child {
    margin-right: 0;
}
.link a:hover {
    color: #7A306C;
}
.link a i {
    color: #7A306C;
    margin-right: 5px;
}

.content-block {
    margin-top: 50px;
}
.content-block h2 {
    margin-bottom: 30px;
}

.content-block__effect {
    margin-bottom: 50px
}

.portfolio-effect {
    display: flex;
    justify-content: space-between;
}

.portfolio-item {
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 300px;
    border: 1px solid #212121;
    box-shadow: 2px 2px 2px #212121;
}

.portfolio-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    /* width: 100%;*/
    height: auto;
    min-width: 100%;
    min-height: 100%;
    max-width: 200%;
    max-height: 200%;
    transform: translate(-50%, -50%);
}

.portfolio-item__info {
    position: absolute;
    top: 7px;
    left: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - 2 * 7px);
    height: calc(100% - 2 * 7px);
    background-color: rgba(255, 255, 255, 0.86);
}

.portfolio-item__header {
    position: relative;
    margin: 0 0 20px 0;
    padding: 15px 0;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.portfolio-item__header:after {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    height: 2px;
    width: 100%;
    content: "";
    background-color: #8D909B;
}

.portfolio-item__links {
    display: flex;
}

.portfolio-item__link-block {
    position: relative;
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
.portfolio-item__link-block:last-child {
    margin-right: 0;
}

.portfolio-item__link {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #101010;
    text-decoration: none;
    border: 1px solid #25c583;
    border-radius: 50%;
}
.portfolio-item__link:hover {
    color: #fff;
    background-color: #3c3c3c;
}

.portfolio-item--eff2 .portfolio-item__info {
    top: -100%;
}
.portfolio-item--eff2 .portfolio-item__header {
    left: -25px;
    opacity: 0;
}
.portfolio-item--eff2 .portfolio-item__header:after {
    transform: scaleX(0);
    transform-origin: right center;
}
.portfolio-item--eff2 .portfolio-item__link-block {
    transform: scale(1.2);
    opacity: 0;
}

.portfolio-item--eff2:hover .portfolio-item__info {
    transition-property: all;
    transition-duration: 0.35s;
    transition-timing-function: cubic-bezier(0.63, 0.01, 0, 1.39);
    transition-delay: 0s;
    top: 7px;
    border: 1px solid #25c583;
}
.portfolio-item--eff2:hover .portfolio-item__header {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0.45s;
    left: 0;
    opacity: 1;
}
.portfolio-item--eff2:hover .portfolio-item__header:after {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0.6s;
    transform: scaleX(1);
    border: 1px solid #25c583;
}
.portfolio-item--eff2:hover .portfolio-item__link-block {
    transform: scale(1);
    opacity: 1;
}
.portfolio-item--eff2:hover .portfolio-item__link-block:first-child {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0.85s;
}
.portfolio-item--eff2:hover .portfolio-item__link-block:nth-child(2) {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0.95s;
}

/*##### CONTACT SECTION #####*/
.contact-head {
    color: #3c3c3c;
    font-size: 2em;
    text-align: center;
    padding-bottom: 1.5em;
}

.text-contact {
    text-align: center;
    padding-bottom: 10px;
}

hr{
    border:0;
    border-bottom:1px solid #25c583;
    margin: 35px;
}

#login{
    margin: 0% 25%;
}

input[type=text],input[type=email],input[type=password]{
    width:99.5%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ccc;
    padding-left: 5px;
    font-size: 16px;
}

textarea{
    width:99.5%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ccc;
    padding-left: 5px;
    margin-bottom: 5px;
    font-size: 16px;
}

input[type=submit]{
    width: 20%;
    border: 1px solid #25c583;
    padding: 10px;
    font-size:20px;
    cursor:pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-bottom: 40px;
}

#para{
    clear: both;
    margin: 0 35%;
}

.telephone {
    text-align: center;
    padding-bottom: 35px;
    padding-top: 10px;
}

.fa-mobile {
    font-size: 45px;
}
.mobile {
    text-align: center;
    font-size: 20px;
}

.contact {
    padding: 20px 0 30px 0;
}
.contact .socials {
    list-style-type: none;
    width: 100%;
}
.contact .socials .social {
    width: 25%;
    float: left;
    text-align: center;
}
.contact .socials .social a {
    color: #3d3d3d;
    font-size: 1.5em;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}
.contact .socials .social .email:hover {
    color: #c8a028;
}
.contact .socials .social .twitter:hover {
    color: #57AEE7;
}
.contact .socials .social .linkedin:hover {
    color: #0177B5;
}
.contact .socials .social .codepen:hover {
    color: #707070;
}
.contact .clear {
    clear: both;
}

.footer {
    padding: 25px 0;
    text-align: center;
}
.footer p {
    color: #777;
    font-size: 1.1em;
}
.footer i {
    color: #e74c3c;
}

#filter-btn {
    margin-bottom: 40px;
}
#filter-btn ul {
    text-align: center;
}
#filter-btn li {
    margin: 0 10px;
}

#filter-btn .button {
    border: 1px rgba(0, 0, 0, 0.3) solid;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    background: none;
    cursor: pointer;
    outline: none;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
#filter-btn .button:hover {
    color: #25c583;
}

.img-container {
    width: 30%;
    height: auto;
    margin: 10px 15px;
}

.img-container img {
    border-radius: 10px;
}

/*#### RESPONSIVE #####*/
@media screen and (max-width: 760px) {
    #main-header {
        padding-top: 25px;
    }
}

@media screen and (max-width: 760px) {
    .logo {
        float: none;
    }
}

@media screen and (max-width: 760px) {
    #main-header nav {
        width: 100%;
    }
}

@media screen and (max-width: 760px) {
    #main-header nav ul {
        width: 100%;
        float: left;
        padding-top: 10px;
        margin-bottom: 20px;
        text-align: center;
    }
}

@media screen and (max-width: 760px) {
    #main-header nav ul li {
        width: 100%;
        padding: 10px 0;
        margin: 0;
    }
}

@media screen and (max-width: 760px) {
    .mobile-toggle {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .hero-content img {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 760px) {
    #filter-btn li {
        display: block;
        margin-top: 10px;
    }
}

@media screen and (min-width: 480px) {
    .skills .content .tools-knowledge-wrapper .tools-wrapper,
    .skills .content .tools-knowledge-wrapper .knowledge-wrapper {
        width: 50%;
        float: left;
        padding: 0;
    }
    .skills .content .tools-knowledge-wrapper .tools-wrapper ul,
    .skills .content .tools-knowledge-wrapper .knowledge-wrapper ul {
        margin-left: 0;
    }
    .skills .content .clear {
        clear: both;
    }
}
@media screen and (min-width: 640px) {
    .about-myself {
        padding: 100px 40px;
    }

    .skills {
        padding-left: 0;
        padding-right: 0;
    }
    .skills .content .development-wrapper {
        width: 600px;
        margin: auto;
        margin-bottom: 50px;
    }
    .skills .content .tools-knowledge-wrapper {
        width: 600px;
        margin: auto;
    }

    .contact .content .socials {
        width: 600px;
        margin: auto;
    }
}
@media screen and (min-width: 960px) {
    .experience .content ul li {
        margin: 0 auto;
    }
    .experience .content ul li .experience-content {
        width: 40vw;
    }
    .experience .content ul li:nth-child(odd) .experience-content {
        left: 63px;
    }
    .experience .content ul li:nth-child(odd) .experience-content:before {
        left: -50px;
        width: 50px;
    }
    .experience .content ul li:nth-child(even) .experience-content {
        left: calc(-40vw - 57px);
        -webkit-border-radius: 5px 0px 5px 5px;
        -moz-border-radius: 5px 0px 5px 5px;
        border-radius: 5px 0px 5px 5px;
    }
    .experience .content ul li:nth-child(even) .experience-content:before {
        left: auto;
        right: -50px;
        width: 50px;
    }
    .experience .content ul li:nth-child(odd) .hidden {
        margin-left: 10vw;
    }
    .experience .content ul li:nth-child(even) .hidden {
        margin-left: -10vw;
    }

    .skills {
        padding-left: 50px;
        padding-right: 50px;
    }
    .skills .content {
        max-width: 1100px;
        margin: auto;
    }
    .skills .content .development-wrapper,
    .skills .content .tools-knowledge-wrapper {
        float: left;
    }
    .skills .content .development-wrapper {
        margin-bottom: 0;
        width: 60%;
    }
    .skills .content .tools-knowledge-wrapper {
        width: 40%;
        margin-top: 35px;
    }
    .skills .content .tools-knowledge-wrapper .tools-wrapper,
    .skills .content .tools-knowledge-wrapper .knowledge-wrapper {
        float: none;
        margin: auto;
    }
    .skills .content .tools-knowledge-wrapper .tools-wrapper {
        margin-bottom: 30px;
    }

    .portfolio .content .projects .project {
        position: relative;
        margin: auto;
        margin-bottom: 3%;
        width: 680px;
        height: 450px;
        overflow: hidden;
    }
    .portfolio .content .projects .project:hover .project-image {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    .portfolio .content .projects .project:hover .project-title, .portfolio .content .projects .project:hover .project-description {
        opacity: 1;
    }
    .portfolio .content .projects .project .project-image {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        -webkit-transition: transform 0.5s ease;
        transition: transform 0.5s ease;
        -webkit-transform-origin: left top;
        transform-origin: left top;
        z-index: 3;
        overflow: hidden;
    }
    .portfolio .content .projects .project .project-image img {
        width: 100%;
        height: auto;
        min-height: 100%;
        min-width: 100%;
    }
    .portfolio .content .projects .project .project-title,
    .portfolio .content .projects .project .project-description {
        position: absolute;
        height: 50%;
        opacity: 0;
        -webkit-transition: opacity 0.3s linear;
        transition: opacity 0.3s linear;
        overflow: hidden;
    }
    .portfolio .content .projects .project .project-title {
        width: 50%;
        top: 0;
        right: 0;
        padding: 10px;
        text-align: center;
        display: table;
    }
    .portfolio .content .projects .project .project-title h2 {
        font-size: 2em;
        text-decoration: underline;
        display: table-cell;
        vertical-align: middle;
    }
    .portfolio .content .projects .project .project-description {
        width: 100%;
        top: 50%;
        left: 0;
        padding: 25px 10px;
        text-align: left;
    }
}

@media screen and (max-width: 600px) {
    .img-container {
        margin-left: 9%;
        width: 90%;
    }
}

@media screen and (max-width: 767px) {
    #login {
        width: 90%;
        display: block;
        margin: auto;
    }
    input[type="submit"] {
        width: 30%;
        display: block;
        margin: auto;
        margin-bottom: 5%;
    }
    #filter-btn .button {
        display: none;
    }
    .projects-head {
        padding: 25px 0 0 0;
    }
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
    }
}